.layoutnav {
    background-color: #093459 !important;
    color: #fff0ef !important;
    position: relative !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    height: 100% !important;
}
span:hover {
    background-color: #1785e4;
}
span {
    display: inline-block;
    line-height: 1;
    padding: 0.5em 11px;
    padding-top: 0.5em;
    padding-right: 11px;
    padding-bottom: 0.5em;
    padding-left: 11px;
    border-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
li {

}
li a {
    color:white !important;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
}